extends ../layout

block content
  div.row
    h3 Oh dear. We can't take your payment of £#{amount} at the moment.
    h4 Please contact your card company for more details
    br
    a.btn.btn-primary.btn-round(href='/') Home