extends ../layout

block content
  div.container
    div.row
      div.col-md-6
        h3 You have been successfully logged out
      div.row
      div.col-md-4
        a.btn.btn-primary.btn-round(href='/', role='button') Home
