extends ../layout

block content

  header.jumbotron.hero-spacer
    h1 A Very VERY Warm Welcome!
    p
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.
    p
      a.btn.btn-primary.btn-large(href='/books') Start Shopping!!!
  .row
    .col-lg-12
      h3 Latest Special Offers
  .row.text-center
    .col-lg-3.col-md-6.col-sm-6.hero-feature
      img.imgfeatures(src='/images/compbooks.jpg', alt='')
      h4 3 for 2
      p Take advantage of our special saving on computer books.
      p
        a.btn.btn-primary(href='/search/Computer') Go There!
    .col-lg-3.col-md-6.col-sm-6.hero-feature
      img.imgfeatures(src='/images/television.jpg', alt='')
      h4 Buy One Get One Free
      p You've watched the Television series, now read the books. 
      p
        a.btn.btn-primary(href='/search/Television') Beam Me Up!
    .col-lg-3.col-md-6.col-sm-6.hero-feature
      img.imgfeatures(src='/images/read.jpg', alt='')
      h4 Half Price
      p Treat yourself to that book you've been promising yourself.
      p
        a.btn.btn-primary(href='/search/Fiction') Yes Please!
    if loggedIn   
      .col-lg-3.col-md-6.col-sm-6.hero-feature 
    else
      .col-lg-3.col-md-6.col-sm-6.hero-feature
        img.imgfeatures(src='/images/register.jpg', alt='')
        h4 Register
        p Not a member? Sign up and receive a monthly newletter.
        p 
          a.btn.btn-primary(href='/register') I'm In!             