extends layout

block content
  div.row
    div.col-md-12
      img.aboutusimage(src='/images/Me.jpg',align='left')
      h1 About Us
      p Fusce tincidunt felis at odio dignissim scelerisque. Etiam sed rutrum sem. Sed ultricies justo justo, sit amet lobortis purus rutrum ut. Vivamus quis tempus odio. Quisque placerat pellentesque fermentum. Duis vel sollicitudin nisi. Donec ut dictum lorem, eu interdum risus. Proin consequat pellentesque commodo.
      p Phasellus tempus, tellus vel tempor tempus, magna felis finibus orci, vitae sollicitudin sapien massa sit amet magna. Nullam dapibus sollicitudin massa mattis euismod. Proin dictum nisl sed diam feugiat, sed convallis arcu tempus. Suspendisse interdum eros arcu, vitae consequat nisl finibus a. Ut ipsum augue, finibus sit amet nulla quis, hendrerit eleifend purus. Aliquam lobortis tortor sem, vel semper libero aliquet ac.
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non facilisis leo. Integer quis felis ut metus semper ornare et et risus. Fusce auctor et nisl aliquet rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent pellentesque non tortor non rutrum. Cras et urna eget turpis consequat ultrices in non turpis. Mauris eu vestibulum orci. Sed laoreet varius pharetra.
      p Nulla ac ligula molestie, condimentum felis at, consequat felis. Maecenas at ultrices est, nec euismod turpis. In hac habitasse platea dictumst. Donec id nisl aliquam, mattis tellus nec, porttitor lorem. Aenean in metus non nibh ultricies suscipit. In et ipsum in lorem imperdiet commodo. Phasellus lacus nibh, dictum elementum odio id, tempus dignissim lectus. Nam vel ullamcorper purus. Integer quis metus a nunc tincidunt consequat. Quisque congue fermentum nunc, in tempor tortor placerat at. Fusce at tortor ut felis condimentum feugiat vitae id nibh. Phasellus in nulla pulvinar, ultrices nulla vel, iaculis metus. Pellentesque nec vehicula ante. 
      p Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec mollis venenatis sollicitudin. Nam iaculis ornare ante, sit amet vestibulum libero semper et. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec fringilla varius feugiat. Proin rutrum, diam sit amet efficitur venenatis, nibh velit convallis lectus, in varius risus purus eu velit. Nam vel massa sagittis dui consectetur vestibulum porttitor id orci. 
      br
      h3 See us on:
      br 
      .col-lg-2.col-md-6     
        a.btn.btn-block.btn-social.btn-facebook
          span.fa.fa-facebook
          |  Facebook
      .col-lg-2.col-md-6
        a.btn.btn-block.btn-social.btn-twitter
          span.fa.fa-twitter
          |  Twitter
      .col-lg-2.col-md-6 
        a.btn.btn-block.btn-social.btn-linkedin
          span.fa.fa-linkedin
          |  LinkedIn   
      .col-lg-2.col-md-6        
        a.btn.btn-block.btn-social.btn-instagram
          span.fa.fa-instagram
          |  Instagram
          

    