<section class="pb-5 pt-0 ps-5 pe-5">

  <div class="container mt-3">
    <h2>Thanks For Your Order!</h2>

      <p>
        We have successfully taken <%- displayPrice(totalPrice) %> from your card! You will receive 
        an email receipt shortly. Please call again and give me a thumbs up for my fantastic service.
      </p>
      <p>
        I appreciate your business! If you have any questions, please email me at
        <a href="mailto:ibookshop@library.com">ibookshop@library.com</a>.
      </p>
      <p>Regards, Big Chopper.</p>

      <a href="/book/booklist" class="btn btn-primary btn-sm text-light">Home</a>

  </div>
  
</section>