body {
  min-height: 2000px;
  padding-top: 70px;
}
a {
  color: #00B7FF;
}
h3.error-message{
    color: red;
}
ul.user-details{
    list-style: none;
}
.divmessage {
    display: none;
    width: 620px;
}

h4 {
    margin-right: 20px;
}

.success {
    color: green;
}

.failed {
    color: red;
}

.divmessage {
    color: red;
    font-weight: bold;
    height: 20px;
    display: none;
}
.glyphicon { margin-right:10px; }
.badge { margin-left:10px; }
.panel-body { padding:5px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }
.book{
	text-align: center;
    margin-bottom: 20px;
    border: solid black 1px;
    padding: 6px;
    background-color: lightseagreen;
}
.book h5{
	margin-top: 15px;
    font-weight: bold;
}
.bookimage{
    height: 120px;
}
.bookimagelarge{
    height: 200px;
}
.bookimagehuge{
    height: 500px;
}
.btn-round {
    border-radius: 24px;
}
footer {
  background: #333;
  color: #eee;
  font-size: 11px;
  padding: 20px;
  margin-top: 20px;
}
.featured {
    text-align: center;
    background: lightseagreen;
    width: 100%;
    height: 50px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    padding-top:7px;
    font-size: 24px;
}
ul.bookinfo {
    list-style: none;
    margin: 0;
}
li.bookinfo {
    margin: 0;
    padding: 0;
}
#emptyCart {
    float: right;
    margin-top: 10px;
}
#addressDiv {
    display: none;
}
#changeAddress {
    display: none;
}
#btnAddress {
    float: right;
}
#message {
    color: red;
    font-weight: bold;
    display: none;
}
a.welcome {
    color: yellow !important;
}
.categories {
    display: none;
}
.aboutusimage{
    max-height: 500px;
    width: 40%;
    margin-right: 15px;
}
#searchable-title {
    overflow-y: scroll;
    height: 1000px;
}
#mycolour {
    background-color: lightseagreen;
}
.description {
    display: none;
}
.title {
    display: none;
}
.price{
	margin-top: 15px;
	font-size: 18px;
    display: none;
}
.price span{
	color:green;
	background: #f4f4f4;
	padding: 10px;
	border: 1px #ccc solid;
    border-radius: 50%; 
}
.priceSmall{
	margin-top: 15px;
	font-size: 14px;
}
.priceSmall span{
	color:green;
	background: #f4f4f4;
	padding: 10px;
	border: 1px #ccc solid;
    border-radius: 50%; 
}
.imgfeatures {
    height: 200px;
    padding: 10px;
    overflow: hidden;
}

#lookup_field select {
    padding: 8px;
    border-radius:  5px;
    width: 100%;
}

