doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title= title
    link(href='/bootstrap/css/bootstrap-theme.min.css', rel='stylesheet')
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='/bootstrap-social/bootstrap-social.css', rel='stylesheet')
    link(href='/font-awesome/css/font-awesome.css', rel='stylesheet')
    link( href='/stylesheets/navbar-custom.css', rel='stylesheet')
    link( href='/stylesheets/style.css', rel='stylesheet')
    link( href='/stylesheets/mediaQueries.css', rel='stylesheet')
  body
    .container-fluid
      include ../includes/navbar.jade
      div.row
        div.col-md-2
          include ../includes/sidebar.jade
        div.col-md-10
          block content
    script(src='/jquery/jquery.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/javascripts/idealPostcodes.min.js')
    script(src='https://js.stripe.com/v2/')
    script(src='/javascripts/jquery.searchable.js')
    script(src='/javascripts/postcodes.js')
    script(src='/javascripts/checkout.js')
    script(src='/javascripts/payment.js')
    script(src='/javascripts/user.js')
    script(src='/javascripts/filterbooks.js')