extends ../layout

block content
  div.row
    h3 We have successfully taken £#{amount} from your card!
    h4 Please call again and give me a thumbs up for service.
    br
    a.btn.btn-primary.btn-round(href='/') Home
    
    